.progress-wrapper .progress {
    border-radius: 0px;
    margin-bottom: 0px;
}

.test-sheet, .result {
    text-align: center;
}

.test-sheet h1 {
    font-family: 'psl_displayregular', sans-serif;
}

.test-sheet .test-number {
    margin-bottom: 0px;
}

.test-sheet .test-name {
    margin-top: 0px;
}

button.btn {
    display: block;
    margin: 0 auto;
    width: 450px;
    margin-bottom: 10px;
    font-size: 30px;
}

@media(max-width: 768px) {
    button.btn {
        width: 80%;
        white-space: normal;
    }
    .test-sheet {
        padding-left: 10px;
        padding-right: 10px;
    }
}