html, body {
    font-family: 'Montserrat', 'psl_displayregular', sans-serif;
}
.navbar {
    margin-bottom: 0px;
}
.social-nav {
    background-color: #06a2cb;
    margin-bottom: -7px;
    margin-top: -7px;
}

.social-nav .navbar-nav li a {
    color: white;
}

.apps-nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.navbar-brand img {
    height: 100%;
}
.navbar-brand {
    padding: 0;
}

a.pill-button {
    background-color: #06a2cb;
    border-radius: 500px;
    padding: 6px 20px !important;
    margin: 9px;
    color: white !important;
}

.navbar-default .navbar-brand {
    color: #06a2cb;
}