.welcoming-intro {
    color: white;
    text-align: center;
    background: url('../img/books-welcoming.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 210px;
    padding-bottom: 210px;
}

.welcoming-intro h1 {
    margin: 0px;
}

.welcoming-intro .answer-text {
    font-size: 5em;
    font-weight: 800;
}

.welcoming-intro .here-text {
    font-size: 10.5em;
    line-height: 72px;
    font-weight: 800;
    padding-top: 20px;
    color: #29d2ff;
}

.welcoming-intro .slogan-text {
    font-size: 19px;
    margin-top: 30px;
    padding-bottom: 50px;
}

.welcoming-intro .pill-button {
    height: 200px;
}

.welcoming-intro a.pill-button {
    padding: 10px 20px !important;
    font-size: 18px;
    display: initial;
}

.welcoming-intro .select-topic {
    margin-top: 30px;
}

.welcoming-intro .select-topic > a.pill-button {
    background-color: #ffffff;
    color: #6b6b6b !important;
}

.recomended-article .row {

}

.recomended-article .row img {
    width: 100%;
}

.recomended-article .sub-recommend {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.pill-button {
    display: table;
}

.recomended-article .col-md-4 {
    padding-right: 0;
}

.recomended-article .second-recommend {
    padding-top: 15px;
}

.search-faculty {
    background-color: #29d2ff;
    height: 80px;
    padding: 20px;
}

input.transparent-input {
    background-color:rgba(0,0,0,0) !important;
    border:none !important;
}

.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }

.glyphicon-search {
    color: #85e5ff;
}

.recommended-article h2 {
    color: #29d2ff;
    margin-bottom: -20px;
    font-weight: 700;
}

.recommended-article h1 {
    color: #9f9f9f;
    font-weight: 500;
    font-size: 4em;
}